p, h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
}

.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-primary);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.current {
  color: var(--color-blue);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

img {
  display: block;
}

.media:hover,
.media::after {
  fill: var(--color-blue);
}

.color-link {
  fill: var(--color-link);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.color-link:hover, .color-link:after {
  fill: var(--color-blue);
}

:root {
  --background-primary: #f5f5f5;
  --background-second: #F5F4FA;
  --background-elements: #2F303A;
  --color-primary: #757575;
  --color-grey: #212121;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-link: #AFB1B8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.media {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-black);
}
.logo .logo__decorate {
  color: var(--color-blue);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 93px;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts__item {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.nav__logo {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 30px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-blue);
}

.contacts .contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}
.contacts .contacts__link:hover, .contacts .contacts__link:focus {
  color: var(--color-blue);
}

.contacts__list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link {
  margin-right: 10px;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--color-black);
  background-image: url(../img/Img\ Overlay\ \(1\).svg), url(../img/Img\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
}

.hero-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border: 0;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
}

.duties {
  margin: 0 auto;
  padding: 94px 0;
}

.duties-title {
  margin: 0 0 50px 0;
  color: var(--color-grey);
}

.duties .duties-list {
  display: flex;
  gap: 30px;
}

.overlay-wrap {
  position: relative;
}

.overlay-text {
  position: absolute;
  padding: 27px;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 94px 0;
  background-color: var(--background-second);
}

.container-team {
  padding: 94px 0;
  margin: 0 auto;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-icon {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-media-icon {
  fill: currentColor;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
}

.team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 9.95px;
  color: var(--color-grey);
}

.team .team-role {
  font-size: 16px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.color-link {
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.team-description {
  border: 1px;
  border-style: solid;
  border-color: #EEEEEE;
  border-radius: 4px;
  padding: 30px 0;
  padding-bottom: 30px;
  text-align: center;
}

.team-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding-left: 0;
}

.media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--color-link);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.media:hover,
.media:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.clients {
  padding: 94px 0;
}

.clients__title {
  color: var(--color-grey);
  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__logo {
  gap: 30px;
  width: 170px;
  display: flex;
  margin: 0 auto;
}

.clients__icon {
  /* fill: var(--color-link); */
  width: 106px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  height: 92px;
  width: 170px;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.clients__icon:hover, .clients__icon:focus {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.footer {
  background-color: var(--background-elements);
  padding: 60px 0;
}

.footer-group {
  display: flex;
  align-items: center;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--color-white);
  margin-bottom: 20px;
}

.address {
  font: inherit;
}

.address .post-address {
  font-size: 14px;
  color: var(--color-white);
  line-height: 1.46;
  letter-spacing: 0.03em;
}

.address-details {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  margin-top: 9px;
}

.post-address {
  margin-bottom: 9px;
}

.address-mail {
  margin-bottom: 9px;
}

.footer-social {
  display: block;
  margin-right: 93px;
}

.footer-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.call-to-action {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.address-list {
  gap: 9px;
}

.footer-icon {
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--color-blue);
}

.team-media-footer {
  fill: var(--color-white);
}

.form-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer-input {
  display: flex;
  align-items: center;
}

.footer-input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.colortext {
  color: var(--background-second);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.footer-button:hover, .footer-button:focus {
  background: #188CE8;
}

.email-button {
  fill: currentColor;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-form input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
}
.footer-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.close-icon {
  fill: currentColor;
}

.modal-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--color-blue);
}

.form {
  width: 448px;
  margin: 0 auto;
  gap: 10px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: rgb(33, 33, 33);
}

.modal-form::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  color: var(--primary-text-color);
}

.lead-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.lead-form:not(last-child) {
  margin-bottom: 10px;
}

.lead-form input {
  margin-top: 4px;
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  color: var(--color-grey);
}

label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-primary);
}

.modal-window:focus {
  border-color: var(--color-blue);
}

.lead-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  color: var(--color-grey);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-check {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 20px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-primary);
}

label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var();
}

.modal-window {
  height: 40px;
}

.modal-window:focus,
textarea:focus {
  outline: #2196F3 solid 1px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.lead-icon:focus {
  background-color: var(--color-blue);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  background-image: url(../img/icon_check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.form-submit {
  display: block;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  min-width: 200px;
  padding: 10px 52px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.form-submit:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-link {
  color: var(--color-blue);
  text-decoration: underline;
  margin-left: 5px;
}

.modal-window:focus ~ .lead-icon {
  fill: var(--color-blue);
}

.form-icon {
  fill: var(--color-black);
}

.text-submit {
  font-size: 14px;
  line-height: 1.71;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--color-grey);
  background-color: var(--background-second);
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--color-blue);
}

.portfolio {
  padding: 94px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-portfolio {
  border: 0;
  background-color: var(--background-second);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.button-portfolio:focus, .button-portfolio:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.projects .projects-list {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px;
}

.projects-link {
  display: block;
  background-color: var(--color-white);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover .projects-overlay-text,
.projects-link:focus .projects-overlay-text {
  transform: translateY(0);
}

.projects-title {
  color: var(--color-grey);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 4px;
}

.progects-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projects-about {
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
}

.projects .projects-description {
  padding: 20px 24px;
  margin: 0 auto;
  border-style: solid;
  border: solid 1px #EEEEEE;
  border-top: none;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-link {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--color-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
}/*# sourceMappingURL=main.css.map */