.hero {
    width: 100%;
    text-align: center;
    padding: 118px 60px;
    margin: 0 auto;

    background-image:var(--gradient), url(/img/header/Header\ img_mob.jpg);
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
      background-image:var(--gradient) url(/img/header/Header\ img_retina.jpg);
    }
   
    @include tablet {
      background-image:var(--gradient), url(/img/header/Header-tablet.jpg);
      @include retina {
        background-image: var(--gradient), url(/img/header/Header-tablet_2x.jpg);
      }
    }

    @include desktop {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: var(--gradient), url(/img/header/header-desk.jpg);
      @include retina {
        background-image: var(--gradient), url(/img/header/header-desk_2x.jpg);
      }
    }
}
 
.hero-title {

    // display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--color-white);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 360px; 
    letter-spacing: 0.06em;


    @include tablet {
        font-size: 26px;
    }
    
    @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
     }

    @media screen and (min-width: 480px) {
        font-size: 26px;
        }
    }


.hero-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);

    min-width: 200px;
    @include desktop {
      min-width: 216px;
    }

    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.87;
    // letter-spacing: 0.06em;

    // width: 216px;
    // height: 50px;

    border: 0;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

